# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Jan\Studium\DHBW\2_Semester\Programmierung\Abgabe\Space-Invaders-aber-besser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
